---
title: Amabla - Co-working Space à Villeurbanne
description: Site de l'association de Co-working Amabla située à Villeurbanne
layout: default.hbs
---
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">{{content.title}}</div>
            <a href="#space" class="page-scroll btn btn-xl">{{content.more}}</a>
        </div>
    </div>
</header>

{{> space}}

{{> about}}

{{> services}}

{{> coworkers}}

{{> contact}}
